<div class="dialog-content-wrapper content" id="previewFilePrint">
    <iframe id="viewfile" *ngIf="_previewUrl" class="iframe" [src]="_previewUrl"></iframe>
    <!-- <div class="list-button" fxLayout="row" fxLayoutAlign="flex-end center">
        <button style="margin-right:10px" class="btn-main" mat-raised-button aria-label="DOWNLOAD" (click)="download()">
            <mat-icon class="icon-btn">file_download</mat-icon>
            {{'CONTROL.DOWNLOAD'|translate}}
        </button>
        <button class="btn-edit" mat-raised-button aria-label="PRINT" (click)="print()">
            <mat-icon class="icon-btn">print</mat-icon>
            {{'CONTROL.PRINT'|translate}}
        </button>
    </div> -->
</div>