#createReleaseRegistration {
    overflow: auto !important;

    .content-card {
        padding: 2px 10px;

        .form-content {
            border: 1px solid #8080808c;
            border-radius: 3px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 9px;
        }
    }

    .list-button {
        border-top: 1px solid #018747;
        padding-top: 10px;
    }

    #skills{
        width: 100%;
        border-collapse: collapse;

        th, td{
            border: 1px solid black;
            text-align: center;
        }

        .mat-input-element{
            text-align: center!important;
        }
    }
}