::ng-deep #taxIncomeView {
    display: flex;
    flex-direction: column;

    .content-card {
        height: calc(96vh - 136px);
        padding: 2px 10px;
        overflow: auto;

        .input {
            padding: 0 5px;
            border: 0;
            border-bottom: 1px dashed #ccc;
            outline: none !important;
            height: 22px;
            box-sizing: border-box;
            width: 100%;

            &:focus {
                border-bottom: 1px dashed #000;
            }
        }

        .tax-unit-group {
            display: inline-block;
            float: none;
            clear: both;

            .tax-unit {
                float: left;
                margin-left: -1px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .tax-unit {
            display: inline-block;
            font-weight: normal;
            padding: 0px 6px !important;
            border: 1px solid #ccc !important;
        }

        .font-weight-bold {
            font-weight: bold;
        }

        .block {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-top: 7px;
            margin-bottom: 7px;
        }

        .mat-radio-button~.mat-radio-button {
            margin-left: 16px;
        }

        .mat-radio-label-content {
            font-size: 14px;
        }

        .w-80px {
            width: 80px;
        }

        .w-55px {
            width: 55px;
        }

        .flex-grow-1 {
            flex-grow: 1;
            display: flex;
        }

        .title {
            margin: 7px 0px;
            font-weight: bold;
            display: flex;
            align-items: center;
        }

        .icon-require {
            color: red;
        }

        .content {
            display: flex;
            align-items: center;
            gap: 7px;
        }

        .title-not-taxCode {
            color: #039be5;
            font-style: italic;
        }

        .padding-common {
            padding-left: 9px;
            padding-right: 9px;
        }

        .org-info {
            display: flex;
            justify-content: space-between;
            gap: 7px;

            .left {
                width: 60%;
            }
        }

        .flex-column {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }

        .cmnd-info {
            display: flex;
            gap: 7px;

            .left {
                width: 60%;
            }

            .right {
                flex-grow: 1;

                .empIdnoIssuedDate {
                    width: 76px;
                }
            }
        }

        .note-cancel {
            // color: red;
            // border: 1px solid #80808040;
            padding: 5px;
        }

        .attach-file {
            .icon-file {
                float: left;
                border: 1px solid #80808059;
                border-radius: 3px;
                display: flex;
                padding: 3px;
                margin-right: 10px;

                mat-icon {
                    height: 28px;
                }
            }
        }
    }

    .list-button {
        border-top: 1px solid #018747;
        padding-top: 10px;
    }
}