#detailConfirmIncomeTax {
	display: flex;
	flex-direction: column;

	.content-card {
		height: calc(96vh - 135px);
		padding: 2px 10px;
		overflow: auto;

		.form-content {
			border: 1px solid #8080808c;
			border-radius: 3px;
			padding: 6px;
		}
	}

	.list-button {
        border-top: 1px solid #018747;
        padding-top: 10px;
    }
}
